<!DOCTYPE html>
<html>
<head>
  <title> About Danny Gonzalez </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
  .bg-1{
     background-color: #9400D3; 
      color: #ffffff;
  }
  .bg-2{
     background-color: #9370DB ; 
      color: #ffffff;
  }
  .bg-3{
     background-color: #800080; 
      color: #ffffff;
  }
  </style>  
  
</head>  
    
<body>
  
  <div class = "container-fluid bg-1 text-center">    
    <div class="row">
        <div class="col-sm-4">
          <img src = "https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/11887962_789037027861928_6892899497242566744_n.jpg?oh=b90ff1bdafce9f086edf4b11b819438a&oe=593F836C" class="img-circle" width="250" height="250">
          <h1>Danny Gonzalez</h1>
          <h2>Software Engineer in the making.</h2>        
        </div>
        <div class="col-sm-5">         
          <h1>San Francisco State University Student</h1>       
          <h3>Computer Science Major<h4>Expected graduation: Spring 2018</h4></h3>
          <h1>About me:</h1>
            <h2>19 years old</h2>
            <p>
              Hello!, Thank you for visiting my personal website. My name is Danny Gonzalez. I am originaly from El Salvador, a small 
              country in Central America. Ever since I've been young I've known that I wanted to grow up to have a job where I got to
              create. Then I didn't like math at all, but that changed, Math is now my second favorite subject. My favorite of course 
              is Computer Science!
            </p>
        </div>
        <div class="col-sm-3">
          <img src = "http://jacoblile.myefolio.com/Uploads/SFSU_LogoH2[1]_thumb.jpg" width="150" height="150">
        </div>  
    </div>
  </div>

   <div class = "container-fluid bg-2 text-center">
     <h1>Find me on:</h1>
     <h2><a href="https://github.com/dgonza12"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" width="60" height="50" border="0"></a> 
     
     </h2>    
   </div>  
  
  
  <div class = "container-fluid bg-3 text-center">
    <h2>Image Sources<h4>I don't own any of the following images used</h4></h2>
    <p>SF state logo: "http://jacoblile.myefolio.com/Uploads/SFSU_LogoH2[1]_thumb.jpg" </p>
    <p>GitHub octo cat: "https://assets-cdn.github.com/images/modules/logos_page/Octocat.png"</p>
  
  </div>
  
</body>
</html>
