<html>
    <head>
        <style>
            h1, div {
                margin-left: 350px;
                margin-right: 500px;
            }
            
            img {
                margin-left: 100px;
            }
        </style>
        <title>CSC 648 Practice Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img src="http://sfsuse.com/~sp17g01/sp17g01/web/images/itmeericka.png" alt="Ericka" style="float:left">
        <h1>About me.</h1>
        <div>I'm Ericka Murphy, Team Lead of Group 01.
            <br>
            <br> I was born in Honolulu, Hawaii on March 23, 1994. I'm currently 
            pursuing a BS Degree in Computer Science at SFSU with the hopes that
            I'll someday work in the video game industry.
            <br>
            <br> When I have free time I'm either drawing or playing video games.</div>
    </body>
</html>